@model IEnumerable<Vaterinaria.Models.Citas>

@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    @Styles.Render("~/Content/css/stylelista.css")
    @Styles.Render("~/Content/css/StyleNuevaCita.css")
    @Styles.Render("~/Scripts/alertifyjs/css/themes/default.css")
    @Styles.Render("~/Scripts/alertifyjs/css/alertify.css")
    @Scripts.Render("~/Scripts/alertifyjs/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/alertifyjs/alertify.js")
}

<section class="w3l-inner-banner-main">
    <div class="about-inner editContent">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone">@Html.ActionLink("Inicio", "Index", "Cliente", new { @class = "editContent", @aria_hidden = "true" }) <span class="fas fa-chevron-right" aria-hidden="true"></span></li>
                <li class="active editContent">Citas</li>
            </ul>
        </div>
    </div>
</section>


<p>
    @Html.ActionLink("Crear una cita", "Insertar", "Cliente", new { @class = "btn btn-warning" })
</p>

<table class="table">
    <tr>
        <th>Nombre del dueño</th>
        <th>Nombre de la mascota</th>
        <th>Veterinario</th>
        <th>Raza</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Tipo</th>
        <th>Fecha de cita</th>
        <th>Hora de cita</th>
        <th>Esta de la cita</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre_Propietario</td>
            <td>@item.Nombre_Animal</td>
            <td> @item.personal.Nombre</td>
            <td> @item.Raza</td>
            <td>@item.Edad</td>
            <td>@item.Sexo</td>
            <td>@item.Animal.Tipo</td>
            <td>@item.Fecha_cita</td>
            <td>@item.Hora_cita</td>
            <td>@item.Estado.Tipo_estado</td>
            <td>
                @Html.ActionLink("Modificar", "Modificar", new { id = item.Id_cita }, new { })
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id_cita }, new { miatributo = "valor1", @class = "", onclick = "return confirm('¿Estas seguro de eliminar esta cita?');" })
            </td>
        </tr>
    }
</table>
<br /><br /><br /><br />
@if (TempData["mensajeCliente"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            alertify.success("@TempData["mensajePersonal"]");
        });
    </script>
}